<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx
		   http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
		   
	<bean name="userService" class="org.liujia.shop.service.impl.UserServiceImpl">
		<property name="productDao" ref="productDao"></property>
		<property name="cartDao" ref="cartDao"></property>
		<property name="orderDao" ref="orderDao"></property>
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean name="productService" class="org.liujia.shop.service.impl.ProductServiceImpl">
		<property name="productDao" ref="productDao"></property>
		<property name="compassTemplate" ref="compassTemplate"></property>
	</bean>
	
	<bean name="adminService" class="org.liujia.shop.service.impl.AdminServiceImpl">
		<property name="adminDao" ref="adminDao"></property>
	</bean>
	
	<bean name="categoryService" class="org.liujia.shop.service.impl.CategoryServiceImpl">
		<property name="categoryDao" ref="categoryDao"></property>
	</bean>
	
	<bean name="cartService" class="org.liujia.shop.service.impl.CartServiceImpl">
		<property name="cartDao" ref="cartDao"></property>
	</bean>
	
	<bean name="orderService" class="org.liujia.shop.service.impl.OrderServiceImpl">
		<property name="orderDao" ref="orderDao"></property>
	</bean>
	
	<bean name="queryService" class="org.liujia.core.service.impl.QueryServiceImpl">
		<property name="queryEngine" ref="queryEngine"></property>
	</bean>
	
</beans>